@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme {
    --color-primary: #F9FAFB;
    --color-secondary: #F1A208;
    --color-dark: #000000;
    --font-sans: 'Onest', sans-serif;
}


body {
    @apply flex flex-col;
    background-image: radial-gradient(circle 700px at 50% 50%, rgba(16,185,129,0.35), transparent);
    overscroll-behavior: none;
    min-height: 100vh;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}