@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #F9FAFB;
    --color-secondary: #A3D000;
    --color-dark: #000000;
    --color-contrast: #000000;
    --font-sans: 'DM Sans', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --bg-primary: #F9FAFB;
    --bg-dark: #000000;
    --animate-scroll: scroll 45s linear infinite;

    @keyframes scroll {
        0% {
            transform: translateX(0); 
        }
        100% {
             transform: translateX(calc(-50%));
        }
    }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}


body {
    background-color: #F9FAFB;
}

body.loaded {
    transition: all 0.3s ease-in-out;
}

h1, h2 {
    font-family: 'JetBrains Mono', monospace;
}