---

import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Section from '../components/Section.astro';
import ArrowIcon from '../components/svg/ArrowIcon.astro';
import Stack from '../sections/Stack.astro';
import Projects from '../sections/Projects.astro';
import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';
---

<Layout>
    <main class="px-5 flex flex-col items-center w-full z-20 max-w-full">
        <Section id="hero" class="relative py-20 md:py-40 flex flex-col justify-center items-center min-h-[100dvh]">
            <Hero >
                <slot />
            </Hero >
            <div id="arrow" class="absolute left-1/2 transform -translate-x-1/2 transition-opacity duration-500" style="bottom: calc(1.75rem + env(safe-area-inset-bottom))">
                <ArrowIcon alt="Flecha para hacer scroll a la sección de abajo" />
            </div>
        </Section>
        <Section id="skills" class="py-10 flex flex-col">
            <Stack />
        </Section>
        <Section id="proyectos" class="py-10 flex flex-col">
            <Projects />
        </Section>
        <Section id="sobre-mi" class="py-10 flex flex-col">
            <About />
        </Section>
        <Section id="formacion" class="py-10 flex flex-col">
            <Experience />
        </Section>
    </main>
</Layout>

<script>
    const arrow = document.getElementById('arrow') as HTMLElement;

    window.addEventListener('scroll', () => {
    if (window.scrollY > 5) {
        arrow.style.opacity = '0';
    } else {
        arrow.style.opacity = '1';
    }
    });
</script>