---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import ArrowIcon from '../components/ArrowIcon.astro';
---

<Layout>
    <main class="px-5 flex flex-col items-center">
        <Section id="hero" class="py-35 md:py-40 flex flex-col justify-center items-center">
            <Hero >
                <slot />
            </Hero >
            <div class="absolute bottom-6 left-1/2 transform -translate-x-1/2">
                <ArrowIcon />
            </div>
        </Section>
        
        
    </main>
</Layout>