---

---

<div class="bg-dark dark:bg-gray-200 rounded-full flex items-center justify-center w-fit font-light gap-2 px-3 py-2">
    <div class="w-3 h-3 bg-[#8ABB4C] rounded-full">
        <div class="w-3 h-3 bg-[#8ABB4C] rounded-full animate-ping">
        </div>
    </div>
    <div class="text-xs text-primary dark:text-dark">       
        <slot /> 
    </div>
</div>