---

---

<div class="bg-black rounded-full flex items-center justify-center w-fit font-light gap-2 px-3 py-3">
    <div class="w-2.5 h-2.5 bg-[#8ABB4C] rounded-full">
        <div class="w-2.5 h-2.5 bg-[#8ABB4C] rounded-full animate-ping transition-all duration-100">
        </div>
    </div>
    <div class="text-xs text-primary">       
        <slot /> 
    </div>
</div>