---
const { icon } = Astro.props;
---

<div class="dark:bg-gray-200 border-2 border-gray-300 dark:border-gray-400 rounded-full flex items-center justify-center w-fit font-light gap-2 px-2 py-1">
    <img src={`/iconos/${icon}.svg`} alt={icon} class="w-4 h-4">
    <div class="text-xs text-black">       
        <slot /> 
    </div>
</div>