---

---
<a 
    {...Astro.props}
    class="bg-black rounded-full w-fit px-4 py-2 text-primary font-thin flex items-center gap-2"
    target="_blank" 
    rel="noopener noreferrer"
    role="link">
    <slot/>
</a>