---

---

<button id="nav__button" class="flex flex-col items-center justify-center w-8 h-8 space-y-1.5 transition-custom lg:hidden order-3" >
    <span id="line1" class="w-8 h-0.75 bg-dark dark:bg-primary transition-transform duration-300 ease-in-out"></span>
    <span id="line2" class="w-8 h-0.75 bg-dark dark:bg-primary transition-opacity"></span>
    <span id="line3" class="w-8 h-0.75 bg-dark dark:bg-primary transition-transform duration-300 ease-in-out"></span>
</button>