---
const { name, icon } = Astro.props;
---

<li>
  <article class="flex items-center justify-center rounded-full bg-white text-dark border-2 border-gray-200 hover:border-secondary transition-all py-1.5 transition-color duration-300 hover:shadow-md gap-2">
      <img
              src={`../iconos/${icon}.svg`}
              alt={icon}
              class="h-4 w-auto object-contain transition-transform group-hover:scale-110"
              loading="lazy"
            />
      <span class="text-xs font-normal text-center whitespace-nowrap overflow-hidden overflow-ellipsis max-w-full">{name}</span>
    </article>
</li>