---
import StackCard from './StackCard.astro';
import StackNav from './StackNav.astro';
import StackItems from '../data/stack.ts';


---

<div class="flex flex-col">
    <h2 class="text-3xl md:text-4xl font-bold mb-4 bg-linear-to-r from-secondary via-green-500 to-emerald-500 inline-block text-transparent bg-clip-text">Soft & Tech Skills</h2>
    <StackNav /> 
    <div>
        <ul class="grid grid-cols-2 gap-1">
            {StackItems.map(item => (
                <StackCard name={item.name} icon={item.icon} />
            ))}
        </ul>
    </div>
</div>
