---
import CloudIcon from "./svg/CloudIcon.astro";
import DatabaseIcon from "./svg/DatabaseIcon.astro";
import StartIcon from "./svg/StartIcon.astro";
import ToolIcon from "./svg/ToolIcon.astro";
import CodebracketsIcon from "./svg/CodebracketsIcon.astro";
import SoftskillsIcon from "./svg/SoftskillsIcon.astro";

interface navItems {
    title: string;
    label: string;
    icon: any;
}

const navItems: navItems[] = [

    { title: 'Todo', label: 'Todo', icon: StartIcon },
    { title: 'Soft Skills', label: 'Soft Skills', icon: SoftskillsIcon },
    { title: 'Frontend', label: 'Frontend', icon: CodebracketsIcon },
    { title: 'Backend', label: 'Backend', icon: CodebracketsIcon },
    { title: 'Base de datos', label: 'Base de datos', icon: DatabaseIcon },
    { title: 'Devops & Cloud', label: 'Devops & Cloud', icon: CloudIcon },
    { title: 'Tools', label: 'Tools', icon: ToolIcon }
];

---
<nav class="flex items-center gap-3 md:justify-between transform transition-custom mb-5 overflow-x-auto py-5">
    {
        navItems.map((item) => {
            const IconComponent = item.icon;

            return (
                <div class="flex items-center gap-2 relative group transition-custom">
                    {IconComponent && <IconComponent />}
                    <a 
                        class="text-base  text-nowrap" 
                        aria-label={item.label}>
                        <span>{item.title}</span>
                    </a>
                    <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-secondary group-hover:w-full transition-all duration-300"></span>
                </div>
            );
        })
    }
</nav>