---
import SectionTitle from "../components/SectionTitle.astro"

---

<div class="flex flex-col">
    <SectionTitle title="Sobre mí" />

    <div class="flex flex-col py-2">
        
        <article class="[&>p]:mb-6 [&>p>strong]:text-secondary [&>p>strong]:font-normal text-pretty relative">
            
            <p>
                Durante años coordinando equipos operativos y administrativos, he aprendido a valorar el <strong>trabajo en equipo</strong> y la <strong>colaboración</strong> para alcanzar objetivos comunes.
            </p>

            <p>
                Mientras compaginaba mis estudios con el trabajo, el proyecto en el que participaba llegó a su fin, lo que me permitió enfocarme por completo en el <strong>desarrollo web</strong>. Estoy finalizando el Grado en Desarrollo de Aplicaciones Web y he realizado proyectos prácticos que me han permitido adquirir experiencia con tecnologías como <strong>Java</strong>, <strong>Vue.js</strong>, <strong>C#</strong>, <strong>Node.js</strong> y despliegues en <strong>AWS</strong>.
            </p>

            <p>
                Me gusta hacer <strong>soluciones pulcras</strong> y procuro siempre <strong>mejorar los procesos</strong>, o al menos intentarlo, aprendiendo en el camino.
            </p>
        </article>

    </div>
       
</div>


