---
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Cristina Malmierca - Proyectos &amp; Portfolio | Cristina Malmierca</title>
		<meta name="description" content="Portfolio personal de Cristina Malmierca, donde se muestran proyectos desarrollados y habilidades técnicas.">
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>

	
</html>


<style>

  :global(.dark) {
	color: #F9FAFB;
  }

  :global(.dark) body {
	background-color: #03170e;
  }
</style>

